.digest {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.digest ul {
  list-style: none;
  padding: 0;
}

.digest li {
  padding: 0;
  cursor: pointer;
}

.left {
  /* background-color: aqua; */
  width: clamp( 315px, 50%, 100%);
}

.right {
  /* background-color: magenta; */
  width: clamp( 315px, 50%, 100%);
}

.work h5 {
  margin-bottom: 7px;
}

.work img {
  width: clamp( 315px, 490px, 100%);
  aspect-ratio: 3/1;
  object-fit: cover;
}