/**
 * thumbnail.css
 */

.thumbnail {
  width: 322px;
  height: 120px;
  margin: 5px 5px 20px 5px;
}

.thumbnail img {
  width: 322px;
  height: 120px;
}

.thumbnail .title {
  font-size: 8px;
  margin-top: 2px;
}


@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
  .thumbnail img {
    max-width: 100%;
  }
}