/**
 * post.css
 */

.post {
  color: #333333;
  margin-top: 120px;
  margin-bottom: 180px;
}

.post .title {
  font-size: 18px;
}

.post .date.hiding {
  display: none;
}

.post .date ::selection {
  background:#eeff46;
}

.post .content {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.post .content img {
  max-width: 100%;
}

.post .content p {
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.post .content img {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post .content ol {
  margin-top: 5px;
  margin-bottom: 5px;
}

.post .content li {
  line-height: 30px;
}


.post .content a:link {
 color: #333; 
 text-decoration: none;
}
.post .content a:visited { color: #333; }
.post .content a:hover { color: #333; }
.post .content a:active { color: #333; }

.hide {
  display: none;
}