/* line 45, sass/menu_btn.scss */
.btn12 {
  width: 30px;
  height: 60px;
  top: 0px;
  left: 0px;
  transition-duration: 0.3s;
  transform: scale(1.25);
}
/* line 48, sass/menu_btn.scss */
.btn12 .icon {
  transition-duration: 0.3s;
  position: absolute;
  height: 2px;
  width: 30px;
  top: 30px;
  background-color: #212121;
}
/* line 51, sass/menu_btn.scss */
.btn12 .icon:before {
  transition-duration: 0.3s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #212121;
  content: "";
  top: -10px;
}
/* line 55, sass/menu_btn.scss */
.btn12 .icon:after {
  transition-duration: 0.3s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #212121;
  content: "";
  top: 10px;
}
/* line 61, sass/menu_btn.scss */
.btn12.open .icon {
  transition-duration: 0.3s;
  background: transparent;
}
/* line 65, sass/menu_btn.scss */
.btn12.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
/* line 69, sass/menu_btn.scss */
.btn12.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
/* line 74, sass/menu_btn.scss */
.btn12:hover {
  cursor: pointer;
}
